* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0a243f;
  color: #cae0e8;
  display: grid;
  grid-template-columns: 400px 1fr;
}
main {
    padding-top: 20px;

}
h1{
    color: #cc8131;
    text-align: center;
    margin-top: 2rem;
    font-size: 2.5rem;
}
h2{
    margin-bottom: 10px;
}
h3{
  font-size: 1.75rem;
  margin-top:2rem;
  margin-left: 3.75rem;
}
ul>li{
  text-align: center;
  margin:0.75rem 0 0.75rem  
}
.header-center {
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;

}
input {
  padding: 0.25rem;
  height:1.5rem;
  width:15rem;

}
button {
  height:2rem;
  width:15rem;
  background-color: #6c7c8c;
  color: #d5e8f5;
  font-size: 15px;


  border-color: transparent;
}
button:hover{
    cursor: pointer;
}
.form{
  margin-top: 25px;
display: block;
padding-left: 2rem;
padding-right: 2rem;

}
form>h2{
  margin-bottom: 20px;
}
.search-filters{
    display: grid;
    grid-template-columns:1fr 1fr auto;
    gap:1rem
}
.last-item{

  max-width: 16rem;
  margin: auto;
    background-color: transparent;
    display: flex;
    justify-content:space-between
    
}
.last-item>:nth-child(1){
  color:#e6e6e6;
  background-color: transparent;
  font-size:1.2rem;
  border-color: transparent;
}
.primary-btn{
 
color:#d5e8f5;
font-size:1rem;
font-weight: 600;
background-color: transparent;
}
.secondary-btn{
    background-color: #079467;
    color:#e6e6e6;
    border-width: 2px;
    border-color: #9dc7c7;
    margin-right: 5px;
    padding: 0.25rem;
}
table{
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}
th,td{
  padding: 1rem;
  border: 0.1px solid

}
th:hover,td:hover{
  cursor: pointer;
  background-color: #6c7c8c
}